/*
Author: HopelessReality
Email: romashov@sent.com
*/

body{
	background-image: url(../images/bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	
	
	
}

.header{
	position: absolute; /* Абсолютное позиционирование */
	top: 5px;
	left: 47%; /* Положение слоя от левого края было 50 */
	margin-left:-360px;
	min-width: 1200px; /*  было 900 */
	
}


.nav{
	list-style-type:none;
	padding:0;
}

.nav > li {
	float:left;
}

.nav > li > a {
	display:inline-block;
	border-right: solid 1px #018B06;
	width:240px; /* Изначально было 180 */
	font: bold 18px sans-serif;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	text-shadow: 1px 1px 0px black;
	padding: 15px 0; 
	text-decoration:none;
	text-transform:uppercase;
}

.first-menu{
	border-radius: 8px 0 0 8px;
	border-left: solid 1px #018B06;
}
.last-menu{
	border-radius: 0 8px 8px 0;
}
.nav > li > a:hover,.nav > li > a:active {
	background-color:#7A991A;
	
}

.content{
	position: fixed; 
    left: 50%; top: 100px;
	background-color:#fff;
	width: 720px;
	height:550px;
	margin-left:-360px;
	border: solid 1px #B8B8B8;
	background: -webkit-linear-gradient(bottom, #E9E9E9, #FFF, #E4E4E4);
	background: -o-linear-gradient(bottom, #E9E9E9, #FFF, #E4E4E4);
	background: -moz-linear-gradient(bottom,#E9E9E9, #FFF, #E4E4E4);
	background: linear-gradient(to bottom,#E9E9E9, #FFF, #E4E4E4);
	border-radius: 8px;

}

.video-frame{
	margin-top: 30px;
	margin-left:50px;
}

.connect-button{
	display:inline-block;
	background-color:#27ae60;
	background-color:#2ecc71;
	border-radius: 8px;
	text-shadow: 1px 1px 0 #000;
	color: #fff;
	text-decoration:none;
	font: bold 30px sans-serif;
	text-transform:uppercase;
	margin-top: 18px;
	margin-left: 190px;
	padding: 15px 50px;
	border: solid 1px #27ae60;

}
.connect-button:hover{
	background-color: #27ae60;
	border: solid 1px #2ecc71;
}

.footer{
	display:block;
	position: fixed; 
    left: 50%; bottom: 1%;
	background-color:#fff;
	width: 720px;
	height:70px;
	margin-left: -360px;
	border-radius: 8px;
	border: solid 1px #B8B8B8;
	background: linear-gradient(to bottom, #E0E0E0, #FFFFFF);

}

.icon1, .icon2, .icon3 {
	display:block;
	padding-bottom: 48px;
	width:48px;
	border-radius:4px;
	background-repeat:no-repeat;
	opacity:0.5;
}
.icon1:hover, .icon2:hover, .icon3:hover {
	opacity:1;
}



.footer > .icon1 {
	margin: 12px 0px 10px 550px;
	background-image: url(../images/vkontakte.png);
}

.footer > .icon2 {
	margin: -58px 0px -48px 600px;
	background-image: url(../images/twitter.png);
}

.footer > .icon3 {
	margin: 0px 0px 0px 650px;
	background-image: url(../images/youtube.png);
}



.footer > span:first-child{
	display:inline-block;
	position:inherit;
	font: 15px sans-serif;
	margin-left: 20px;
	margin-top: 28px;
	
}



